.footer {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: var(--padding-2xl) var(--padding-xl);
    font-family: var(--font-family);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: var(--padding-lg);
}

.footer-column {
    flex: 1;
    min-width: 220px;
    margin-bottom: var(--padding-lg);
}

.footer-column h3,
.footer-column h4 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--padding-sm);
    font-weight: 600;
    color: var(--text-primary);
}

.footer-column p,
.footer-column a {
    font-size: var(--font-size-md);
    margin: var(--padding-xxs) 0;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    gap: var(--padding-xs);
}

.footer-column a:hover {
    text-decoration: underline;
    color: var(--text-secondary);
}

.footer-column i {
    font-size: var(--font-size-md);
}

.payment-icons {
    display: flex;
}

.payment-icons img {
    width: var(--width-size);
    height: var(--height-size);
    margin-right: var(--padding-xs);
    border-radius: var(--border-radius);
    background: #fff;
    padding: var(--padding-xxs);
}