:root {
    /* Padding scale */
    --padding-xxs: 0.25rem; /* 4px */
    --padding-xs: 0.5rem; /* 8px */
    --padding-sm: 0.75rem; /* 12px */
    --padding-md: 1rem; /* 16px */
    --padding-lg: 1.5rem; /* 24px */
    --padding-xl: 2rem; /* 32px */
    --padding-2xl: 3rem; /* 48px */
    --bg-primary: #224f34;
    --bg-secondary: #c2efd4;
    --font-family: "Poppins", sans-serif;
    --font-size-xs: 0.625rem; /* 10px */
    --font-size-sm: 0.75rem; /* 12px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-xl: 1.5rem; /* 24px */
    --font-size-2xl: 1.8rem; /* 28px */
    --font-size-3xl: 2rem; /* 32px */

    --line-height-base: 1.5;
    --text-black: #000000;
    --text-primary: #ffffff;
    --text-secondary: #c2efd4;
    --color-primary: #224f34;
    --border-radius: 0.3rem;
    --spacing: 1rem;
}

/* Normalize and Reset Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-md);
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height-base);
    color: var(--text-black);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.app-bar {
	background-color: var(--bg-secondary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-md);

}
 .logo {
	font-size: var(--font-size-xl);
	color: var(--color-primary);
}
 .nav-links {
	display: flex;
	gap: var(--padding-xl);
}


 a:hover {
	color: var(--text-black);
}
 .user-icons {
    display: flex;
    gap: var(--padding-md);
}
 .user-icons .icon {
    display: inline-block;
    line-height: 1; 
}

 .user-icons .icon i {
    font-size: var( --font-size-lg); 
    color: var(--color-primary);
}

 .user-icons .icon:hover i {
    color: var(--text-black);
}
